*{
  margin: 0;
}
.logo{
  width: 150px;
  height: 100px;
}
.bak-top{
  opacity: 30%;
  position: absolute;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 500px;
}
.main-menu{
  float: right;
}
